<li id="cart_item_<%= cart_item.product.id %>">
  <%= link_to cart_item.product.title, :action => "show",
	:controller => "products", :id => cart_item.product.id %>
  - <%= pluralize(cart_item.amount, "pc", "pcs") %>      
</li>


