<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="active"><%= link_to 'Register', new_user_path %></li>
    </ul>
    <div class="clear">
      <img alt="user_register" src="/images/user_register.png" align="right" />
    </div>
  </div>          
  <div class="content">            
    <h2 class="title">New User</h2>
    <div class="inner">
      <% form_for :user, :url => users_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

