<div class="block">
  <h3>Simple Sidebar</h3>
  <div class="content">
    <p>This sidebar will hold content such as RSS feeds, or other important material which must be avaliable on a per-page basis or globally. It will require for me to fill this out, when time arose.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>