<div class="block">
  <h3><%= image_tag 'cart/cart.png', :align => 'top' %> &nbsp; Your Cart</h3>
  <div class="content">
    <br />
    <div id="cart">
      <%= render :partial => 'cart/cart', :object => @cart %>
      <hr/>
      <br />
      <table id="cart-actions">
        <tr>
          <td>
            <%= button_to "Checkout", { },
		:dojoType  => "dijit.form.Button",
        	:iconClass => "checkoutIcon",
        	:label     => "Checkout"
            %>
          </td>
          <td>
	      <%= button_to "Empty Cart",
       		{
    		  :action     => 'clear',
    		  :controller => 'Cart'
        	},
       	        :dojoType  => "dijit.form.Button",
                :iconClass => "emptyCartIcon",
                :label     => "Empty Cart"
               %>
             </td>
           </tr>
      </table>
    </div>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>
