<div class="block">
  <h3><%= image_tag 'cart/cart.png', :align => 'top' %> &nbsp; Your Cart</h3>
  <div class="content">
    <p>This sidebar will hold the cart items, and will hide if empty.</p>
    <hr/>
    <center>
      <%=image_tag 'cart/cart_go.png', :align => 'top' %>
      &nbsp; Checkout  &nbsp;
      <%= image_tag 'cart/cart_delete.png', :align => 'top' %>
      &nbsp; Empty Cart 
    </center>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>
