  <% if !f.error_messages.empty? %>
    <div class="flash">
      <div class="message error">
        <p>
          <strong>Error:</strong> 
          Invalid login/password combination.
        </p>
      </div>
    </div>
  <% end %>

  <div class="group">
    <div class="left">
      <label class="label right">Login</label>
    </div>
    <div class="right">
      <%= f.text_field :username, :class => 'text_field',
    	:dojoType	=> "dijit.form.ValidationTextBox",
    	:required	=> "true",
    	:promptMessage	=> "Enter your user name.",
    	:trim 		=> "true",
    	:lowercase	=> "true"
      %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="group">
    <div class="left">
      <label class="label right">Password</label>
    </div>
    <div class="right">
      <%= f.password_field :password, :class => 'text_field',
	:dojoType 	=> "dijit.form.ValidationTextBox",
    	:required	=> "true",
    	:promptMessage	=> "Enter your password.",
    	:trim		=> "false"
      %>
    </div>
  </div>
  <br />
  <div class="group navform">
    <div class="right">
      <input type="submit" class="button" value="Sign in"
	 dojoType="dijit.form.Button"
	 label="Sign in"/> 
    </div>
    <div class="clear"></div>
  </div>
